{% for mentor in include.mentors %}
  <div class="mentor row">
    <div class="col-md-3">
      <h4>{{ mentor.name }}</h4>
      <div class="subhead">{{ mentor.location }}</div>
      {% if mentor.language %}
        <i class="fa fa-language" aria-hidden="true"></i> {{ mentor.language }}<br />
      {% endif %}
    </div>

    <div class="col-md-9">
      <p>
        {% if mentor.bio %}
          {{ mentor.bio }} <br />
        {% endif %}
        <span class="subhead"><b>Area(s) of Expertise</b>: {{ mentor.areas }}<br />
          {% if mentor.cohort %}
            <i class="fa fa-group" aria-hidden="true"></i>
            {% if mentor.cohort == "Boston" %}
              <a href="/leadership-training/round-4/schedule/#boston-cohort">Boston Cohort</a>
            {% else %}
              <a href="/leadership-training/round-4/schedule/#cohort-{{ mentor.cohort | downcase }}">Cohort {{ mentor.cohort }}</a>
            {% endif %}
            <br />
          {% endif %}
          {% if mentor.github %}
            <i class="fa fa-github" aria-hidden="true"></i> <a target="_blank" href="https://github.com/{{ mentor.github }}">@{{ mentor.github }}</a><br />
          {% endif %}
          {% if mentor.twitter %}
            <i class="fa fa-twitter" aria-hidden="true"></i> <a target="_blank" href="https://twitter.com/{{ mentor.twitter }}">@{{ mentor.twitter }}</a><br />
          {% endif %}
        </span>
      </p>
    </div>
  </div>
{% endfor %}