---
layout: default
---
<div class="hero-unit home-page">
  <h1>Open Leadership Training</h1>
  <p>Training and Mentorship Working Open</p>
</div>

<div class="lesson-content">
  {{ content }}
  <div class="row">
    <div class="col-md-4 center-block">
      <h3>MENTORSHIP</h3>
    </div>
    <div class="col-md-4">
      <h3>PEER GROUPS</h3>
    </div>
    <div class="col-md-4">
      <h3>HANDS-ON LEARNING</h3>
    </div>
  </div>
  <a class="btn btn-lg btn-default btn-next" href="articles/readme">
    Get started &nbsp; <i class="fa fa-play" aria-hidden="true"></i>
  </a>
</div>
