---
layout: default
---
<div class="hero-unit home-page">
  <h1>Open Leadership Training</h1>
  <p>Resources, Training and Mentorship on Working Open</p>
</div>

<div class="lesson-content">
  <div class="intro">{{ content }}</div>
  <div class="hero-unit-trio">
    <div class="row home-card">
      <div class="col-md-6">
        <span class="highlight">Open Leadership 101</span>
        <h1>What is Working Open?</h1>
      </div>
      <div class="col-md-6">
        Learn the basics of participation, collaboration, and sharing on community-driven projects. Think of this free, hour-long online course as your launchpad into the Mozilla Network.
        <br />
        <a target="_blank" class="btn btn-lg btn-default btn-next" href="/"> Open Leadership 101 &nbsp; <i class="fa fa-play" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row home-card">
      <div class="col-md-6">
        <span class="highlight">Open Leadership Training Series</span>
        <h1>Working Open Best Practices</h1>
      </div>
      <div class="col-md-6">
        Training on working open best practices you can apply to your own projects and programs.
        <br />
        <a target="_blank" class="btn btn-lg btn-default btn-next" href="https://mzl.la/open-leadership"> Open Leadership Training Series &nbsp; <i class="fa fa-play" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row home-card">
      <div class="col-md-6">
        <span class="highlight">Open Leadership Training</span>
        <h1>Mentorship & Training</h1>
      </div>
      <div class="col-md-6">
        Apply to join a cohort of project leads in a 14-week online mentorship program on Working Open.
        <br />
        <a class="btn btn-lg btn-default btn-next" href="articles/readme"> Open Leadership Training &nbsp; <i class="fa fa-play" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
<!--   <a class="btn btn-lg btn-default btn-next" href="articles/readme">
    Get started &nbsp; <i class="fa fa-play" aria-hidden="true"></i>
  </a> -->
</div>
